.image-of-the-cocktail, .cocktail-doses {
  display: inline-block;
  vertical-align: top;
}

.cocktail-doses {
  margin-left: 7.31383%;
  a {
    color: #111;
    text-decoration: none;
    font-weight: 12px;
  }
}

.image-of-the-cocktail {
  h2 {
    margin-left: 7.31383%;
    font-size: 1.475vw;
    color: #8f38ff;
    padding-top: 1.8284575%;
  }
}

