.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar {
  margin-left: 7.31383%;
  margin-top: 3.125vw;

}

.header-logo {
  display: flex;
  p {
    margin-left: 4%;
  }
}

img {
  height: 30px;
  width: 30px !important;
  background-size: cover;
  position: relative;
  top: -5px;
}

.header-links {
  margin-right: 7.31383%;
}
.margin-left {
  margin-left: 3.125vw;
}
